body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.pad {
  box-sizing: border-box;
  -webkit-user-select: none;         
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
  
.fixed {
  position: fixed;
}
  
.text-white {
  color: white;
}
  
.items-center {
  align-items: center;
  justify-content: center;
}

.button {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.button:active {
  background-color: rgb(255, 56, 86);
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}


.popup {
  width: 30vw;
  background-color: white;
  padding: 3%;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  margin-left: -15vw;
  margin-top: -30vh;
  -webkit-user-select: none;         
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}


#high-scores {
  position: absolute;
  top: 20px;
  left: 10px;
  color: white;
  z-index: 10;
}